* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

.form_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
}

.form_container form {
    display: table;
    padding: 50px;
    border-radius: 7px;
    border: 1px solid red;
}

.form_container form div {
    display: table-row;
   
}

.form_container form div input {
    display: table-cell;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    padding: 10px;
    outline: none;
}

.form_container form div textarea {
    display: table-cell;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    padding: 10px;
    outline: none;
}

.form_container form div label {
    display: table-cell;
    font-size: 18px;
   
}

.sub_btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    outline: none;
}

.sub_btn button {
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 36%;
    margin-top: 20px;
}

.sub_btn p {
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
}

.red {
    background-color: rgb(240, 46, 46);
    padding: 10px 0px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 7px;
}

.green {
    background-color: rgb(17, 139, 6);
    padding: 10px 0px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 7px;
}

